version: '2'

services:

#  reset-on-disconnect:
#    image: pixiewrangling/reset-on-disconnect:latest
#    restart: always
#    privileged: true

  gateway-config:
    image: nebraltd/hm-config:e0c6f88
    depends_on:
      - dbus-session
      - diagnostics
    environment:
      - PATH=/opt/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin 
      - DBUS_SESSION_BUS_ADDRESS=unix:path=/session/dbus/session_bus_socket
      - DBUS_SYSTEM_BUS_ADDRESS=unix:path=/host/run/dbus/system_bus_socket 
      - FIRMWARE_VERSION=2021.11.22.0
      - FREQ=915 
      - VARIANT=NEBHNT-IN1 
      - BALENA_APP_ID=1804673 
      - BALENA_APP_NAME=HELIUM-INDOOR-915 
      - BALENA_SERVICE_NAME=gateway-config 
      - BALENA_DEVICE_TYPE=nebra-hnt
      - BALENA_DEVICE_ARCH=aarch64 
      - BALENA_HOST_OS_VERSION=balenaOS 2.71.3+rev5 
      - BALENA_APP_LOCK_PATH=/tmp/balena/updates.lock 
      - BALENA=1 
      - RESIN_APP_ID=1804673 
      - RESIN_APP_NAME=HELIUM-INDOOR-915 
      - RESIN_SERVICE_NAME=gateway-config  
      - RESIN_DEVICE_TYPE=nebra-hnt 
      - RESIN_DEVICE_ARCH=aarch64 
      - RESIN_HOST_OS_VERSION=balenaOS 2.71.3+rev5 
      - RESIN_APP_LOCK_PATH=/tmp/balena/updates.lock 
      - RESIN=1 
      - RESIN_SERVICE_KILL_ME_PATH=/tmp/balena/handover-complete
      - BALENA_SERVICE_HANDOVER_COMPLETE_PATH=/tmp/balena/handover-complete
      - USER=root
      - LC_ALL=C.UTF-8 
      - DEBIAN_FRONTEND=noninteractive 
      - UDEV=off 
      - QEMU_CPU=arm1176 
      - LANG=C.UTF-8 
      - PYTHON_VERSION=3.10.0
      - PYTHON_PIP_VERSION=21.2.4
      - SETUPTOOLS_VERSION=58.0.0 
      - PYTHONPATH=/opt:/usr/lib/python3/dist-packages
      - HOME=/root 
    privileged: true
    network_mode: host
    cap_add:
      - NET_ADMIN
    volumes:
      - miner-storage:/var/data
      - dbus:/session/dbus
    labels:
      io.balena.features.sysfs: 1
      io.balena.features.kernel-modules: 1
      io.balena.features.dbus: 1
    stop_signal: SIGINT

  packet-forwarder:
    image: pixiewrangling/nebra-reworked:latest
    restart: always
    privileged: true
    environment:
      - PATH=/opt/iotloragateway/dev/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin 
      - HOSTNAME=a9c9944ddd44 
      - FREQ=915 
      - VARIANT=NEBHNT-IN1 
      - BALENA_APP_ID=1804673 
      - BALENA_APP_NAME=HELIUM-INDOOR-915 
      - BALENA_SERVICE_NAME=packet-forwarder 
      - BALENA_DEVICE_TYPE=nebra-hnt 
      - BALENA_DEVICE_ARCH=aarch64 
      - BALENA_HOST_OS_VERSION=balenaOS 2.71.3+rev5 
      - BALENA_APP_LOCK_PATH=/tmp/balena/updates.lock 
      - BALENA=1 
      - RESIN_APP_ID=1804673 
      - RESIN_APP_NAME=HELIUM-INDOOR-915 
      - RESIN_SERVICE_NAME=packet-forwarder
      - RESIN_DEVICE_TYPE=nebra-hnt 
      - RESIN_DEVICE_ARCH=aarch64 
      - RESIN_HOST_OS_VERSION=balenaOS 2.71.3+rev5 
      - RESIN_APP_LOCK_PATH=/tmp/balena/updates.lock 
      - RESIN=1 
      - RESIN_SERVICE_KILL_ME_PATH=/tmp/balena/handover-complete
      - BALENA_SERVICE_HANDOVER_COMPLETE_PATH=/tmp/balena/handover-complete
      - USER=root 
      - LC_ALL=C.UTF-8 
      - DEBIAN_FRONTEND=noninteractive 
      - UDEV=off 
      - QEMU_CPU=arm1176
      - HOME=/root 
    volumes:
      - pktfwdr:/var/pktfwd

  helium-miner:
    image: nebraltd/hm-miner:arm64-d760384
    depends_on:
      - dbus-session
      - diagnostics
    expose:
      - "1680"
      - "4467"
    ports:
      - "44158:44158/tcp"
    volumes:
      - miner-storage:/var/data
      - miner-log:/var/log/miner
      - pktfwdr:/var/pktfwd
      - dbus:/session/dbus
    cap_add:
      - SYS_RAWIO
    devices:
      - /dev/i2c-1:/dev/i2c-1
    restart: always
    environment:
      - DBUS_SYSTEM_BUS_ADDRESS=unix:path=/session/dbus/session_bus_socket
      - RELEASE_BUMPER=foobar
      - PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/opt/miner/bin 
      - FREQ=915 
      - VARIANT=NEBHNT-IN1 
      - BALENA_APP_ID=1804673 
      - BALENA_APP_NAME=HELIUM-INDOOR-915 
      - BALENA_SERVICE_NAME=helium-miner
      - BALENA_DEVICE_TYPE=nebra-hnt 
      - BALENA_DEVICE_ARCH=aarch64 
      - BALENA_APP_LOCK_PATH=/tmp/balena/updates.lock 
      - BALENA=1 
      - RESIN_APP_ID=1804673 
      - RESIN_APP_NAME=HELIUM-INDOOR-915
      - RESIN_SERVICE_NAME=helium-miner
      - RESIN_DEVICE_TYPE=nebra-hnt 
      - RESIN_DEVICE_ARCH=aarch64 
      - RESIN_APP_LOCK_PATH=/tmp/balena/updates.lock 
      - RESIN=1 
      - RESIN_SERVICE_KILL_ME_PATH=/tmp/balena/handover-complete 
      - BALENA_SERVICE_HANDOVER_COMPLETE_PATH=/tmp/balena/handover-complete
      - USER=root 
      - OTP_VERSION=23.3.4.7 
      - REBAR3_VERSION=3.16.1 
      - COOKIE=miner 
      - RELX_OUT_FILE_PATH=/tmp 
      - HELIUM_GA_RELEASE=2021.11.22.0
      - HOME=/root 

  diagnostics:
    image: nebraltd/hm-diag:7e26f35
    environment:
      - FIRMWARE_VERSION=2021.11.22.0
      - PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin 
      - FREQ=915 
      - VARIANT=NEBHNT-IN1 
      - BALENA_APP_ID=1804673 
      - BALENA_APP_NAME=HELIUM-INDOOR-915 
      - BALENA_SERVICE_NAME=diagnostics 
      - BALENA_DEVICE_TYPE=nebra-hnt 
      - BALENA_DEVICE_ARCH=aarch64 
      - BALENA_HOST_OS_VERSION=balenaOS 2.71.3+rev5 
      - BALENA_APP_LOCK_PATH=/tmp/balena/updates.lock 
      - BALENA=1 
      - RESIN_APP_ID=1804673 
      - RESIN_APP_NAME=HELIUM-INDOOR-915
      - RESIN_SERVICE_NAME=diagnostics
      - RESIN_DEVICE_TYPE=nebra-hnt 
      - RESIN_DEVICE_ARCH=aarch64 
      - RESIN_HOST_OS_VERSION=balenaOS 2.71.3+rev5
      - RESIN_APP_LOCK_PATH=/tmp/balena/updates.lock 
      - RESIN=1 
      - RESIN_SERVICE_KILL_ME_PATH=/tmp/balena/handover-complete 
      - BALENA_SERVICE_HANDOVER_COMPLETE_PATH=/tmp/balena/handover-complete
      - USER=root 
      - LC_ALL=C.UTF-8
      - DEBIAN_FRONTEND=noninteractive
      - UDEV=off
      - QEMU_CPU=arm1176
      - LANG=C.UTF-8
      - PYTHON_VERSION=3.10.0
      - PYTHON_PIP_VERSION=21.2.4
      - SETUPTOOLS_VERSION=58.0.0
      - PYTHONPATH=/usr/lib/python3/dist-packages
      - HOME=/root 
    volumes:
      - pktfwdr:/var/pktfwd
      - miner-storage:/var/data
    ports:
      - "80:5000"
    cap_add:
      - SYS_RAWIO
    devices:
      - /dev/i2c-1:/dev/i2c-1
    labels:
      io.balena.features.sysfs: 1

  upnp:
    image: nebraltd/hm-upnp:b575a2f
    network_mode: host
    restart: on-failure
    volumes:
      - pktfwdr:/var/pktfwd

  dbus-session:
    image: balenablocks/dbus:rpi-0.0.2
    restart: always
    volumes:
      - dbus:/session/dbus
    environment:
      - DBUS_ADDRESS=unix:path=/session/dbus/session_bus_socket
      - PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
      - FREQ=915 
      - VARIANT=NEBHNT-IN1 
      - BALENA_APP_ID=1804673 
      - BALENA_APP_NAME=HELIUM-INDOOR-915 
      - BALENA_SERVICE_NAME=dbus-session
      - BALENA_DEVICE_TYPE=nebra-hnt 
      - BALENA_DEVICE_ARCH=aarch64 
      - BALENA_HOST_OS_VERSION=balenaOS 2.71.3+rev5 
      - BALENA_APP_LOCK_PATH=/tmp/balena/updates.lock 
      - BALENA=1 
      - RESIN_APP_ID=1804673 
      - RESIN_APP_NAME=HELIUM-INDOOR-915
      - RESIN_SERVICE_NAME=dbus-session 
      - RESIN_DEVICE_TYPE=nebra-hnt 
      - RESIN_DEVICE_ARCH=aarch64 
      - RESIN_HOST_OS_VERSION=balenaOS 2.71.3+rev5
      - RESIN_APP_LOCK_PATH=/tmp/balena/updates.lock 
      - RESIN=1 
      - RESIN_SERVICE_KILL_ME_PATH=/tmp/balena/handover-complete 
      - BALENA_SERVICE_HANDOVER_COMPLETE_PATH=/tmp/balena/handover-complete
      - USER=root 
      - HOME=/root 
      - UDEV=off
      - FIRMWARE_VERSION=2021.11.22.0 
volumes:
  miner-storage:
  miner-log:
  pktfwdr:
  dbus:
